@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

/* General body styles*/
body {
    font-family: 'Poppins', sans-serif;
    position: relative;
}

header,
footer {
    text-align: center;
    border: 5px solid yellow;
    margin: 20px;
    border-radius: 15px;
    background-color: rgba(219, 219, 247, 0.8);
}

footer {
    font-size: 1.5rem;
    padding: 1rem;
}

/* Logo styles */
h1 {
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    font-style: italic;
    padding-bottom: 1rem;

}

header span {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin: 0.5rem;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

/* Main styles */
main {
    position: relative;
    border: 3px solid black;
    border-radius: 15px;
    text-align: center;
    margin: 20px auto;
    height: fit-content;
    width: fit-content;
}

#background {
    width: 100%;
    border-radius: 15px;
}

#game {
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 44%;
    transform: translate(-40%, -50%);
    width: 60%;
    height: 55%;
    background-color: rgba(219, 219, 247, 0.8);
}

.home h2 {
    font-family: 'Shadows Into Light';
    margin-top: 1.5rem;
}

/* Modal styles */
#openModal {
    background-color: yellow;
    box-shadow: inset;
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    border-radius: 30px;
    cursor: pointer;
    width: 30%;

}

.instructions {
    max-width: 400px;
    position: fixed;
    margin: auto;
    border: 5px solid purple;
    border-radius: 10px;
    background-color: yellow;
    overflow: auto;
}

.closeModal {
    background-color: tomato;
    float: right;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 2px;
    margin: 1px;
}

.modal-content {
    letter-spacing: 1px;
    padding: 1rem;
}

/* User input */
.userInput {
    margin: 20px auto;
    width: fit-content;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Shadows Into Light', sans-serif;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgba(D12ECC);
    font-size: 18px;
}

#startButton,
#playAgain {
    font-size: 2rem;
    padding: 10px;
    background-color: blueviolet;
    opacity: 0.9;
    border-radius: 5px;
    min-width: 60%;
    cursor: pointer;
}

#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 160%;
    padding: 5%;
    color: black;
}

#playAgain {
    margin-top: 5rem;
}

#startButton:hover,
#playAgain:hover {
    opacity: 3;
}

#question {
    font-size: 2rem;
    padding: 1rem;
}

.optionBtn {
    display: block;
    margin: auto;
    min-width: 400px;
    height: 3rem;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    background-color: white;
}

.optionBtn:disabled {
    background-color: white;
    color: black;
    border-color: black;
    cursor: auto;
    opacity: 1;
}

#answers {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.correctAnswer,
.incorrectAnswer {
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.correctAnswer {
    animation-name: correctAnswer;
}

.incorrectAnswer {
    animation-name: incorrectAnswer;
}

@keyframes correctAnswer {
    0% {
        background-color: white;
    }

    100% {
        background-color: rgb(100, 243, 100);
    }
}

@keyframes incorrectAnswer {
    0% {
        background-color: white;
    }

    100% {
        background-color: rgb(243, 100, 100);
    }
}

#gameArea {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
}

#gameEnd h3 {
    font-size: 3rem;
}

#gameEndText {
    font-size: 2rem;
    margin-bottom: 5rem;
}

#gameEndText span {
    font-weight: bold;
}

#score,
#incorrect {
    font-size: 1.5rem;
}

#value,
#incorrect span {
    font-weight: bold;
}

@media only screen and (max-width: 1440px) {
    #question {
        font-size: 2rem;
        margin-top: 1rem;
    }

    #answers {
        gap: 2rem;
    }

    #gameEndText {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    #background {
        display: none;
    }

    body {
        background-image: url(/assets/images/background2.webp);
        background-size: cover;
    }

    main {
        width: 100%;
    }

    #openModal {
        width: 60%;
    }

    #game {
        background-color: transparent;
        top: 50%;
        left: 35%;
        transform: translate(-35%, -50%);
        width: 72%;
        height: 55%;
    }

    #game h2,
    .userInput {
        background-color: rgba(219, 219, 247, 0.8);
        border-radius: 15px;
        border: 2px solid purple;
    }

    #question {
        background-color: rgba(219, 219, 247, 0.8);
        margin-bottom: 1rem;
    }

    #game {
        position: static;
        transform: translate(0, 0);
        width: 100%;
        height: 100%;
        /* background-color: rgba(219, 219, 247, 0.8); */
        padding: 1rem;

    }

    .optionBtn {
        background-color: white;
    }

    #answers {
        min-width: 100px;
    }

    #gameEnd {
        background-color: rgba(219, 219, 247, 0.8);
        border-radius: 40px;
        font-family: 'Shadows Into Light', sans-serif;
    }

    footer p {
        font-size: 1.5rem;
        padding-top: 1rem;
    }

}

@media only screen and (min-width: 430px) {
   header {
    font-size: 1rem;
   }
}
    