@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

/* General body styles*/
body {
    font-family: 'Poppins', sans-serif;
    position: relative;
}

header,
footer {
    text-align: center;
    border: 5px solid yellow;
    margin: 20px;
    border-radius: 15px;
    background-color: rgba(219, 219, 247, 0.8);
}

/* Logo styles */
h1 {
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    font-style: italic;
    padding-bottom: 1rem;
}

header span {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin: 0.5rem;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

/* Main styles */
main {
    position: relative;
    border: 3px solid black;
    border-radius: 15px;
    text-align: center;
    margin: 20px auto;
    width: 50vw;
}

#background {
    width: 90%;
    z-index: -1;
}

#game {
    position: absolute;
    border: 3px solid green;
    top: 50%;
    left: 40%;
    transform: translate(-40%, -50%);
    width: 65%;
    height: 55%;
}

/* Modal styles */
#openModal {
    background-color: yellow;
    box-shadow: inset;
    padding: 2rem;
    font-size: 2rem;
    margin-top: 2rem;
    border-radius: 30px;

}

.instructions {
    max-width: 400px;
    position: fixed;
    margin: auto;
    border: 5px solid purple;
    border-radius: 10px;
    background-color: yellow;
    overflow: auto;
}

.closeModal {
    background-color: tomato;
    float: right;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 2px;
    margin: 1px;
}

.modal-content {
    letter-spacing: 1px;
    padding: 1rem;
}

/* User input */
.userInput {
    border: 2px solid yellow;
    margin: 20px auto;
    width: fit-content;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgba(D12ECC);
    font-size: 18px;
}

#startButton,
#playAgain {
    font-size: 2rem;
    padding: 10px;
    background-color: blueviolet;
    opacity: 0.9;
    border-radius: 5px;
    min-width: 50%;
    cursor: pointer;
}

#playAgain {
    margin-top: 5rem;
}

#startQuiz:hover,
#playAgain:hover {
    opacity: 1;
}





#question {
    /* margin-top: 2rem;
    margin-bottom: 3rem; */
    font-size: 2rem;
}

.optionBtn {
    display: block;
    margin: auto;
    min-width: 400px;
    height: 4rem;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    background-color: white;
}

.optionBtn:hover {}

.optionBtn:disabled {
    background-color: white;
    color: black;
    border-color: black;
    cursor: auto;
    opacity: 1;
}

#answers {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.correctAnswer,
.incorrectAnswer {
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.correctAnswer {
    animation-name: correctAnswer;
}

.incorrectAnswer {
    animation-name: incorrectAnswer;
}

@keyframes correctAnswer {
    0% {
        background-color: white;
    }
    100% {
        background-color: rgb(100, 243, 100);
    }
}

@keyframes incorrectAnswer {
    0% {
        background-color: white;
    }
    100% {
        background-color: rgb(243, 100, 100);
    }
}
